/* Removing default extra margins and paddign around html */
/* And global font */
*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif; 
}


/* Default styling for placeholder texts */
::-webkit-input-placeholder {
    color: gray;
    font-size: 11pt;
    font-weight: 700;
 }


/* ---------------------------------------------------------------- */

/* NAVIGATION BAR CSS */

/* ---------------------------------------------------------------- */
/* Navbar */
a {
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  border: none;
  cursor: pointer;
}
nav {
  overflow: hidden;
  font-family: Arial;
  color: black;
  height: 6.5vh;
  padding: 8px;
  align-items: center;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

nav a {
  float: left;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: black;
  height: 100px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

nav span {
  text-transform: uppercase;
  background-color: #fff;
  color: black;
  font-weight: bold;
  border-radius: 50px;
  border: 1px solid;
  font-size: 8px;
  font-weight: bold;
  padding: 4px 10px;
}

nav ul {
  display: flex;
  gap: 20px;
}
nav ul .nav-buttons{
  gap: 12px;
}

nav ul a {
  color: black;
  transition: all 0.3s ease;
}

.nav-1 a:not(.w3c-logo):hover, .dropdown:hover .dropbtn {
  background-color: #04AA6D;
  color: white;
}

nav .nav-2{
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-2 .nav-icons a{
  font-size: 24px;
}

nav ul.nav-buttons a button {
  width: 130px;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  padding: 12px 14px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

nav ul.nav-buttons li:nth-child(2) a button {
  background-color: #ffc0c7;
}

nav ul.nav-buttons li:first-child a button:hover,
nav ul.nav-buttons li:nth-child(3) a button:hover {
  background-color: #04aa6d;
  color: #fff;
}

nav ul.nav-buttons li:nth-child(4) a button {
  background-color: #04aa6d;
  color: #fff;
}

.dropdown {
  float: left;
  overflow: hidden;
  
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  background-color: #04AA6D;
  font-weight: bold;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0;
  height: 100px;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}








/* ---------------------------------------------------------------- */

/* Learn To Code Section CSS */

/* ---------------------------------------------------------------- */


  .ltc-container {
    background-color: #282A35;
    height: 55vh;
    z-index: 3;
    display: flex;
    justify-content: center;
    
  }
  .ltc-container .ltc-content{
    display: flex;
    flex-direction: column;
    padding: 100px;
    align-items: center;
    

  }

  /* LearnToCode - Search Bar */
.ltc-content form.searchBar input{
  
    width: 23vw;
    height: 5vh;
    border-radius: 50px 0px 0px 50px;
    border-style: none;
}

.ltc-content form.searchBar button {
    
    height: 5vh;
    width: 6vw;
    border-radius: 0px 50px 50px 0px;
    border-style: none;
    background-color: #04AA6D;;
}
  





/* ---------------------------------------------------------------- */

/* HTML-Section CSS */

/* ---------------------------------------------------------------- */


.HTML-container {
    background-color: #D9EEE1;
    height: 60vh;
    display: flex;
    justify-content: center;
    margin: 0;
    
  }
  .HTML-container .HTML-content{
    display: flex;
    flex-direction: column;
    padding: 100px;
    align-items: center;
    

  }